extends layout

block content
	div.top
		div.navbar
			div.navbar-inner
				div.container#header
					a.brand(href="/") SmartCards
					ul.nav.pull-left
						li.active: a(href="/home") My Decks
						//-li: a(href="/home") Link 1

					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href="#" role="button" data-toggle="dropdown" id="user_button") #{user.username}
							ul.dropdown-menu(role="menu" aria-labelledvy="user_button")
								li: a(href="#" tabindex="-1" id="button1") Preferences Page
								//-li: a(tabindex="-1" data-toggle="modal" data-target="#modalName") Preferences Modal
								li: a#logout(tabindex="-1" href="/logout") Logout

	div.content
		//-h1 Welcome to SmartCards, #{user.username}!

		h2: u Your Card Decks
			div.userDecks
				each deck, i in decklist
					div.deckShape
						div.deckName
							h2 #{deck.name}
						div.cardCount
							h3 #{counts[deck.name]} Cards
						div
							a(href="/viewdeck/#{deck.name}"): input.btn-primary.btn.viewDeckBtn(value="View Deck")
							a(href"#"): input.btn-primary.btn.viewDeckBtn(value="Rename Deck")
							a(href="/deletedeck/#{deck.name}"): input.btn-primary.btn.viewDeckBtn(value="Delete Deck")
				
				div.newDeck(name="newDeckForm")
					b(style="padding-top: 40px;"): u Create Deck
					form(name="newdeck", action="/adddeck", method="post")
						input(type="text", name="deckname", placeholder="Deck Name" style="width: 170px;")
						input.btn-primary.btn(type="submit" value="Create" style="width: 172px; padding: 5px; margin-top: 5px;")
						input.btn-primary.btn.viewDeckBtn(value="Cancel")

				div.newDeck(name="newDeckButton")
					div
						img(src="img/plus-button.png")
					div(style="font-size:20px;").
						Create New Deck

	div.footer