extends layout

block content
	div.top
		div.navbar
			div.navbar-inner
				div.container#header
					a.brand(href="/") SmartCards
					ul.nav.pull-left
						li.active: a(href="/home") My Decks
						//-li: a(href="/home") Link 1

					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href="#" role="button" data-toggle="dropdown" id="user_button") #{user.username}
							ul.dropdown-menu(role="menu" aria-labelledvy="user_button")
								li: a(tabindex="-1" data-toggle="modal" data-target="#preferences") Preferences
								li: a#logout(tabindex="-1" href="/logout") Logout

	div.modal#preferences(tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;")
		//
			div.modal-header
				button.close(type="button" data-dismiss="modal" aria-hidden="true") X
				h3#preferenceHeader 
					Edit Preferences
			form.preferences_form(id="userPreferencesForm" action="/updatePreferences" method="post" style="margin: 0;")
				div.modal-body(style="padding: 25px;")
					p Here are your current user preferences. Made any needed changes and hit 'Save Changes' to keep the new preferences. Otherwise, close the window or hit 'Cancel' to discard any unwanted changes.
					b#pref_label Username
					input#username(type="text" name="username" value="#{user.username}")
					br
					br
					b#pref_label Email
					input#useremail(type="text" name="useremail" value="#{user.email}")
					br
					br
					input#orig_username(type="hidden" name="orig_username" value="#{user.username}")
					input#orig_useremail(type="hidden" name="orig_email" value="#{user.email}")
				div.modal-footer
					button.btn-primary.btn.viewDeckBtn(data-dismiss="modal" aria-hidden="true" onclick="clearPreferencesForm()") Cancel
					input.btn-primary.btn.viewDeckBtn(value="Save Changes" onclick="validateAndUpdateUserPreferences()")

	div.content

		h2: u Your Card Decks
			div.userDecks
				each deck, i in decklist
					div.deckShape(id="deck-#{deck._id}")
						div.deckName
							h2 #{deck.name}
						div.cardCount
							h3 #{counts[deck.name]} Cards
						div
							a(href="/viewdeck/#{deck.name}"): input.btn-primary.btn.viewDeckBtn(value="View Deck")
							input.btn-primary.btn.viewDeckBtn(value="Rename Deck" onclick="showRenameDeckForm('#{deck._id}')")
							a(href="/deletedeck/#{deck.name}"): input.btn-primary.btn.viewDeckBtn(value="Delete Deck")

					div.deckShape(id="editDeck-#{deck._id}" style="display: none;")
						div(style="padding-top: 17px; padding-bottom: 22px;")
							h2 Edit Card
						form(id="editdeckform-#{deck._id}", action="/editdeck", method="post")
							b(style="margin-left: -80px;") Deck Name
							input.editCardInput(type="text" name="name" value="#{deck.name}" id="editDeckName-#{deck._id}")
							input(type="hidden" name="id" value="#{deck._id}")
							input.btn-primary.btn.viewDeckBtn(value="Save Changes" onclick="renameDeck('#{deck._id}')")
							input.btn-primary.btn.viewDeckBtn(value="Cancel" onclick="hideRenameDeckForm('#{deck._id}')")
				
				div.newDeck#deckForm(name="newDeckForm")
					div(style="padding-top: 40px;") 
						h2 Create Deck
					form(id="newdeck" action="/adddeck", method="post")
						input#newDeckName(type="text" name="deckname" placeholder="Deck Name" style="width: 170px; margin-top: 20px;")
						input.btn-primary.btn.viewDeckBtn#createDeck(value="Create" style="margin-top: 31px;" onclick="createNewDeck()")
						input.btn-primary.btn.viewDeckBtn#cancelCreateDeck(value="Clear" onclick="clearCreateDeckForm()")

	div.footer