extends layout

block content
	div.top
		div.navbar
			div.navbar-inner
				div.container#header
					a.brand(href="/home") SmartCards
					ul.nav.pull-left
						li: a(href="/home") My Decks

					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href="#" role="button" data-toggle="dropdown" id="user_button") #{user.username}
							ul.dropdown-menu(role="menu" aria-labelledvy="user_button")
								li: a(href="#" tabindex="-1" id="button1") Preferences Page
								li: a#logout(tabindex="-1" href="/logout") Logout
	
	div.modal#shareDeck(tabindex="-1" role="dialog" aria-labelledby="shareModal" aria-hidden="true" style="display:none; width: 650px; margin-left: -350px;")
		div.modal-header
			button.close(type="button" data-dismiss="modal" aria-hidden="true") X
			h3#preferenceHeader.
				Share Deck
		form.shareDeckForm(id="shareDeckForm" action="/share" method="post" style="margin: 0 auto;")
			div.modal-body(style="padding: 25px;")
				p Here, you can search for and select a user to share your #{deck} deck with. Type a username into the box, hit search, select the correct user, and hit share to share the deck.
				br
				b#pref_label Username
				input#user_str(type="text" name="targetname" placeholder="User to share with")
				input.btn-primary.btn#searchUsersBtn(value="Search Users" onclick="searchUsersDisplayResults()")
				br
				br
				div#userSearchResults
				input(type="hidden", name="deck", value="#{deck}")
			div.modal-footer
				button.btn-primary.btn.viewDeckBtn(data-dismiss="modal" aria-hidden="true" onclick="clearShareForm()") Cancel
				input.btn-primary.btn.viewDeckBtn#shareSubmit(value="Save Changes" onclick="shareDeckSubmitForm()" disabled="disabled")

	div.content
		h1 Deck: #{deck}
			a(tabindex="-1" data-toggle="modal" data-target="#shareDeck"): input.btn-success.btn.viewDeckBtn(value="Share Deck" style="margin-left: 40px; margin-bottom: 10px;")
			input.btn-danger.btn.viewDeckBtn(id="perfToggle" value="Performance View: OFF" state="OFF" style="margin-left: 40px; margin-bottom: 10px; width: 240px;" onclick="togglePerformanceView()")
			input.btn-primary.btn.viewDeckBtn(value="Run Deck >>" onclick="runDeckCheck('#{deck}', #{cardlist.length})" style="margin-left: 40px; margin-bottom: 10px;")

		div#performanceKey


		div#cards
			div.deckCards
				each card, i in cardlist
					div.deckShape.liveCard(id="card-#{card._id}" name="#{card._id}" right="#{card.right}" wrong="#{card.wrong}")
						div.cardKey
							h2 #{card.key}
						div.cardAnswer(style="height: 30px;")
							h3(id="#{card._id}" style="display: none;") Answer: #{card.answer}
						div.queue
							// make this right/wrong ratio soon
							h4 Queue: #{card.queue}
						div.buttons
							input.btn-primary.btn.viewDeckBtn#cardAnswerButton(value="View Answer" name="#{card._id}" onclick="revealAnswer('#{card._id}')")
							input.btn-primary.btn.viewDeckBtn#editCardButton(value="Edit Card" name="#{card._id}" onclick="editCard('#{card._id}')")
							a(href="/deletecard/#{deck}/#{card._id}"): input.btn-primary.btn.viewDeckBtn(value="Delete Card")

					div.deckShape(id="editCard-#{card._id}" style="display: none;")
						div(style="padding-top: 17px; padding-bottom: 22px;")
							h2 Edit Card
						form(id="editcardform-#{card._id}", action="/editcard", method="post")
							b(style="margin-left: -80px;") Question / Key
							input.editCardInput(type="text" name="key" value="#{card.key}" id="editKey-#{card._id}" onKeydown="Javascript: if (event.keyCode==13) saveCardChanges('#{card._id}');")
							br
							b(style="margin-left: -80px;") Correct Answer
							input.editCardInput(type="text" name="answer" value="#{card.answer}" id="editAnswer-#{card._id}" onKeydown="Javascript: if (event.keyCode==13) saveCardChanges('#{card._id}');")
							input(type="hidden" name="deck" value="#{deck}")
							input(type="hidden" name="cardId" value="#{card._id}")
							input.btn-primary.btn.viewDeckBtn(id="editCardSubmit-#{card._id}" value="Save Changes" onclick="saveCardChanges('#{card._id}')")
							input.btn-primary.btn.viewDeckBtn(id="editCardCancel-#{card._id}" value="Cancel" onclick="hideEditForm('#{card._id}')")

				div.deckShape(id="createCard")
						div(style="padding-top: 17px; padding-bottom: 22px;")
							h2 Create New Card
						form(id="createcardform", action="/addcard", method="post")
							b(style="margin-left: -80px;") Question / Key
							input.editCardInput(type="text" name="key" placeholder="Card Key" id="newCardKey" onKeydown="Javascript: if (event.keyCode==13) saveNewCard();")
							br
							b(style="margin-left: -80px;") Correct Answer
							input.editCardInput(type="text" name="answer" placeholder="Card Answer" id="newCardAnswer" onKeydown="Javascript: if (event.keyCode==13) saveNewCard();")
							input(type="hidden" name="deck" value="#{deck}")
							input.btn-primary.btn.viewDeckBtn(id="createCardSubmit" value="Create" onclick="saveNewCard()")
							input.btn-primary.btn.viewDeckBtn(id="createCardCancel" value="Clear" onclick="clearCreateForm()")

	div.footer
