extends layout

block content
	div.top
		div.navbar
			div.navbar-inner
				div.container#header
					a.brand(href="/home") SmartCards
					ul.nav.pull-left
						li: a(href="/home") My Decks

					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href="#" role="button" data-toggle="dropdown" id="user_button") #{user.username}
							ul.dropdown-menu(role="menu" aria-labelledvy="user_button")
								li: a(href="#" tabindex="-1" id="button1") Preferences Page
								li: a#logout(tabindex="-1" href="logout") Logout

	div.content
		h1 Running Deck 
			a(href="/viewdeck/#{deck}") #{deck}
		
		div.currentCard
			div.cardInstructions
				h2 Enter the answer for the following key. 
			div.currentCardKey
				h3 #{card.key}
			div.currentCardAnswer
				#checkanswer
					form(name="answercard" action="/answercard" method="post")
						input(type="text" autocomplete="off" name="answer" placeholder="Your Answer" style="width: 460px;")
						input(type="hidden" name="deck" value="#{deck}")
						input(type="hidden" name="cardId" value="#{card._id}")
						input.btn-primary.btn.viewDeckBtn.currentCardSubmit(type="submit" value="Submit" style="width: 470px; margin-top: 20px;")

	div.footer
