extends layout

block content
	div.top
		div.navbar
			div.navbar-inner
				div.container#header
					a.brand(href="/home") SmartCards
					ul.nav.pull-left
						li: a(href="/home") My Decks

					ul.nav.pull-right
						li.dropdown
							a.dropdown-toggle(href="#" role="button" data-toggle="dropdown" id="user_button") #{user.username}
							ul.dropdown-menu(role="menu" aria-labelledvy="user_button")
								li: a(href="#" tabindex="-1" id="button1") Preferences Page
								li: a#logout(tabindex="-1" href="/logout") Logout
	
	div.content
		h1 Viewing Deck #{deck}

		#backToDeckList
			h3: a(href="/home") << Return To List
		#cards
			h2 Cards
			h3 
				table
					tr.columns
						td Question / Key
						td Correct Answer
						td Queue #
						td.noborder
					each card, i in cardlist
						tr
							td #{card.key}
							td #{card.answer}
							td #{card.queue}
							td
								form(action="/deletecard/#{deck}/#{card._id}" style="margin-bottom: 0px;")
									input.btn.btn-danger(type="submit" value="Delete Card")
					tr.runBtn
						td: a(href="/rundeck/#{deck}") Run Deck >>
				#addcard
					b: u Create New Card
					form(name="newcard", action="/addcard", method="post")
						input.input-large(type="text", name="key", placeholder="Card Key" style="margin-top:8px; margin-right: 10px;")
						input.input-large(type="text", name="answer", placeholder="Card Answer" style="margin-top:8px; margin-right: 10px;")
						input(type="hidden", name="deck", value="#{deck}")
						input.btn-primary.btn(type="submit" value="Create")

	div.footer
